<div id="author-badge">
	<div id="logo">
		<a href="http://www.railsmagazine.com" alt="Rails Magazine"><img width="50px" src="/images/rmlogo_small.png"/></a>
	</div>
	<div id="text">
		<span id="name">
			<a href="http://www.railsmagazine.com/authors/1" title="Read my articles on Rails Magazine"><%=h @user.name %></a>
		</span>
		<span id="role">
	    	<a href="http://www.railsmagazine.com/authors/1" title="Read my articles on Rails Magazine"><%=h @user.title %></a>
		</span>
	</div>
</div>